$def with (page)
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>TenhouGame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/3rdpart/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/3rdpart/css/flat-ui.css" rel="stylesheet">

    <!-- Loading Page CSS -->
    $for css in page.css:
      <link href="$css" rel="stylesheet">

    <link rel="shortcut icon" href="static/3rdpart/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="static/3rdpart/js/jquery-1.8.3.min.js"></script>
    <script src="static/3rdpart/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="static/3rdpart/js/jquery.ui.touch-punch.min.js"></script>
  </head>
  <body>
    <div class="container">

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/">TenhouGame</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav navbar-left">
    $for nav in page.nav:
      <li class="$('active' if nav[2] else '')">
        <a href="$nav[0]">$nav[1]</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    $if 2 in session.rights:
      <li><a href="/gameEdit?method=create">创建比赛</a></li>
    $if 1 in session.rights:
      <li><a href="/userList">管理账户</a></li>
    $if session.user is None:
      <li><a href="/login">登陆</a></li>
      <li><a href="/register">注册</a></li>
    $else:
      <li><a href="/logout">注销</a></li>
      <li><a>$session.user.name&nbsp;$session.role.name</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->

$:page
    </div>
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="static/3rdpart/js/bootstrap.min.js"></script>
    <script src="static/3rdpart/js/bootstrap-select.js"></script>
    <script src="static/3rdpart/js/bootstrap-switch.js"></script>
    <script src="static/3rdpart/js/flatui-checkbox.js"></script>
    <script src="static/3rdpart/js/flatui-radio.js"></script>
    <script src="static/3rdpart/js/jquery.tagsinput.js"></script>
    <script src="static/3rdpart/js/jquery.placeholder.js"></script>
    <script src="static/3rdpart/js/typeahead.js"></script>
    <script src="static/3rdpart/bootstrap/js/google-code-prettify/prettify.js"></script>
    <script src="static/3rdpart/js/application.js"></script>
  $for js in page.js:
    <script scr="$js"></script>
  </body>
</html>